.card {
    width: 350px;

    /* Tablet big */
    @media (max-width: 1139px) {
        width: 270px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        width: 226px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        width: 290px;   
    }

    &:hover {
        .card__img::after {
            scale: 1;
        }

        .card__img::before {
            top:50%
        }

        .card__title {
            color: $activeColor
        }
    }

    &__img {
        position: relative;

        width: 100%;
        height: 220px;
        overflow: hidden;

        /* Tablet big */
        @media (max-width: 1139px) {
            height: 169px;
        }

        /* Tablet small */
        @media (max-width: 899px) {
            height: 140px;
        }

        /* Mobile */
        @media (max-width: 767px) {
            height: 180px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        &::before {
            content: 'Смотреть проект';
            
            position: absolute;
            top: -100%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;

            width: 208px;
            padding: 14px 20px;

            background-color: #EF6857;
            border-radius: 80px;

            font-size: 18px;
            font-weight: 700;
            line-height: 1.3;
            color: #fff;

            transition: top .3s ease-in;
        }

        &::after {
            content: '';

            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            
            background-color: rgba(255, 221, 85, 0.75);

            scale: 0;

            transition: scale .2s ease-in;
        }
    }

    &__content {
        padding-top: 16px;

        line-height: 1.3;

        /* Tablet big */
        @media (max-width: 1139px) {
            padding-top: 10px;
        }
    }

    &__title {
        margin-bottom: 8px;

        font-size: 24px;
        font-weight: 600;

        margin-bottom: 3px;

        font-size: 18px;

        transition: color .2s ease-in;
    }

    &__text {
        font-size: 18px;

        /* Tablet big */
        @media (max-width: 1139px) {
            font-size: 14px;
        }
    }
}

.card:first-child, .card:nth-child(2) {
    width: 540px;

    /* Tablet big */
    @media (max-width: 1139px) {
        width: 420px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        width: 354px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        width: 290px;
    }
}

.card.card:first-child .card__img, .card.card:nth-child(2) .card__img {
    height: 370px;

    /* Tablet big */
    @media (max-width: 1139px) {
        height: 288px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        height: 180px;
    }
}

.card.card:first-child .card__content, .card.card:nth-child(2) .card__content {
    padding-top: 20px;

    /* Tablet small */
    @media (max-width: 899px) {
        padding-top: 10px;
    }
}

.card.card:first-child .card__title, .card.card:nth-child(2) .card__title {
    font-size: 30px;

    /* Tablet big */
    @media (max-width: 1139px) {
        font-size: 24px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        font-size: 18px;
    }
}

.card.card:first-child .card__text, .card.card:nth-child(2) .card__text {
    font-size: 20px;

    /* Tablet big */
    @media (max-width: 1139px) {
        font-size: 16px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        font-size: 14px;
    }
}

.card--mini {
    img {
        height: auto;
        object-position: bottom;
    }
}