.contacts{
    padding: 70px 0 90px;

    background: linear-gradient(0deg, #F5FBFF 0%, #F5FBFF 100%), #F4F8F9;

    /* Tablet big */
    @media (max-width: 1139px) {
        padding: 40px 0 70px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        padding-bottom: 40px;
    }
}

.contacts__inner {
    display: flex;
    column-gap: 69px;

    line-height: 1.6;

    /* Tablet big */
    @media (max-width: 1139px) {
        column-gap: 100px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        column-gap: 55px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        flex-direction: column-reverse;
        row-gap: 30px;
    }
}

.contacts__title {
    margin-bottom: 60px;

    text-align: center;

    /* Tablet big */
    @media (max-width: 1139px) {
        margin-bottom: 40px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        margin-bottom: 20px;
    }
}

.contacts__info {
    width: 501px;

    /* Tablet big */
    @media (max-width: 1139px) {
        width: 420px;

        margin-bottom: 25px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        width: 360px;
    }
}

.contacts__info-text {
    position: relative;
    width: 550px;
    font-size: 18px;

    &::after {
        content: '';
        position: absolute;
        top: -50%;
        right: 0;

        width: 280px;
        height: 243px;

        background-image: url('./../img/main-portfolio/contacts-icon.svg');

        /* Tablet big */
        @media (max-width: 1139px) {
            top: -70%;
            right: -20%;
        }

        /* Tablet small */
    @media (max-width: 899px) {
        display: none;
    }
    
    }

    /* Tablet big */
    @media (max-width: 1139px) {
        width: 420px;

        font-size: 16px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        width: 290px;

        font-size: 14px;
    }
}

.contacts__info-list {
    margin-bottom: 32px;
}

.contacts__info-item {
    display: flex;

    margin-bottom: 22px;

    /* Tablet big */
    @media (max-width: 1139px) {
        margin-bottom: 16px;
    }

    /* Tablet small */
    @media (max-width: 899px) {
        flex-direction: column;

        margin-bottom: 10px;
    }

    &:last-child{
        margin-bottom: 0;
    }

    span {
        min-width: 190px;

        font-size: 22px;
        font-weight: 600;

        /* Tablet big */
        @media (max-width: 1139px) {
            min-width: 120px;

            font-size: 18px;
        }

        /* Tablet small */
        @media (max-width: 899px) {
            min-width: auto;

            font-size: 16px;
        }
    }
}

.contacts__info-item .link {
    line-height: inherit;
}