.footer {
    padding: 40px 0 50px;

    background-color: #333;

    font-size: 16px;
    color: #fff;

    /* Tablet big */
    @media (max-width: 1139px) {
        padding: 30px 0;
    }
}
.footer__copyright {
    margin-bottom: 10px;

    line-height: 1.4;
}
.footer__text {
    width: 825px;

    line-height: 1.5;
    color: #B0B0B0;

    font-size: 14px;

    span {
        /* Tablet small */
        @media (max-width: 899px) {
            display: block;
            margin-top: 15px;
        }
    }

    a {
        text-decoration: underline;
        color: #fff;

        transition: color .2s ease-in;

        &:hover {
            color: $activeColor;
        }
    }

    /* Mobile */
    @media (max-width: 767px) {
        max-width: 290px;
    }
}